# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\인프런\파이썬 알고리즘\섹션 4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
